# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# Data files
#data/raw/
data/processed/

# Models
#models/*.pt
#models/*.pkl

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
